.jumbotron
{
    background-color: lightsteelblue;
    color: black;
    margin-top: 50px;
}

footer
{
    background-color: linen;
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    margin-top: 10px;
}

.card-hotel
{
    flex: 1 150px; /* Para que todo lo de una fila ocupe el ancho de la pantalla*/
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva
{
    width: 100%; /* Para que el boton ocupe todo el ancho del espacio */
    border-radius: 0px;
}

.footer-address-icon
{
    padding-right: 10px;
}