.jumbotron {
  background-color: #dae9be;
  color: #101802;
  margin-top: 50px; }

footer {
  background-color: #dae9be;
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
  margin-top: 10px; }

.card-hotel {
  flex: 1 150px;
  /* Para que todo lo de una fila ocupe el ancho de la pantalla*/
  padding: 2px 0px 2px 0px;
  margin-top: 10;
  margin-bottom: 0;
  /* Llamado del metodo margenes creado arriba*/ }

.btn-reserva {
  width: 100%;
  /* Para que el boton ocupe todo el ancho del espacio */
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }
